body {
  background: #31302b;
}
/* === Form === */
.form {
    width: 100%;
}
.form .field {
    position: relative;
    margin: 0 20px;
}
.form .field i {
    font-size: 14px;
    left: 0px;
    top: 0px;
    position: absolute;
    height: 45px;
    width: 45px;
    color: #f7f3eb;
    background: #676056;
    text-align: center;
    line-height: 44px;
    transition: all 0.3s ease-out;
    pointer-events: none;
}
/* === Login === */
.login {
    position: relative;
    margin: 30px auto 0px auto;
    width: 748px;
    background: white;
    border-radius: 3px;
    padding-bottom:20px;
}
.login:before {
  content: '';
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  z-index: -1;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}
.resultado {
    padding:30px 30px 0px 30px;
    color: green;
    font-weight: bold;
}
.login h1 {
  line-height: 55px;
  font-size: 22px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  background: #333333;

  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.login p:first-child {
  margin-top: 20px;
}
.login p.submit {
  text-align: center;
  display:inline;
}
.login p.forgot a:hover {
  color: #333333;
}
/* === Input Form === */
::-webkit-input-placeholder {
  color: #ded9cf;
  font-family:'Open Sans';
}
:-moz-placeholder {
  color: #ded9cf !important;
  font-family:'Open Sans';
}
.form input[type=text],
.form input[type=password] {
    font-family: 'Open Sans', Calibri, Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    padding: 10px 15px 10px 55px;
    position: relative;
    width: 348px;
    height: 25px;
    color: #676056;
    border: none;
    background: #f7f3eb;
    color: #777;
    transition: color 0.3s ease-out;
}
.form input[type=text] {
    margin-bottom: 15px;
}
.form input[type=text]:hover ~ i,
.form input[type=password]:hover ~ i {
    color: #ded9cf;
}
.form input[type=text]:focus ~ i,
.form input[type=password]:focus ~ i {
    color: #333333;
}
.form input[type=text]:focus,
.form input[type=password]:focus,
.form button.enviar:focus {
    outline: none;
}
.form input.enviar {
  margin: 10px -10px 0px 20px;
  width: 130px;
  text-align: center;
  font-size: 9px;
    font-family: FontAwesome, 'Open Sans',sans-serif;
  font-weight: bold;
  padding: 12px 0;
  letter-spacing: 0;

  -webkit-box-shadow: inset 0px 0px 0px 0px rgba(204,86,15,1);
  -moz-box-shadow:    inset 0px 0px 0px 0px rgba(204,86,15,1);
  box-shadow:         inset 0px 0px 0px 0px rgba(204,86,15,1);

  color: #fff;
  background-color: #333333;
  text-shadow: none;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  position: relative;
  -webkit-animation: shadowFadeOut 0.4s;
  -moz-animation: shadowFadeOut 0.4s;
}
.form input.enviar:hover,input.enviar:focus{
  color: #fff;
  -webkit-box-shadow: inset 0px 46px 0px 0px rgba(103,96,86,1);
  -moz-box-shadow:    inset 0px 46px 0px 0px rgba(103,96,86,1);
  box-shadow:         inset 0px 46px 0px 0px rgba(103,96,86,1);
  -webkit-animation: shadowFade 0.4s;
  -moz-animation: shadowFade 0.4s;
}
.form input.especial {
    width: 273px;
    margin: 0px 0px 0px 10px;
    font-size: 14px;
}
@keyframes shadowFade {
    0% {
      -webkit-box-shadow: inset 0px 0px 0px 0px rgba(103,96,86,1);
      -moz-box-shadow:    inset 0px 0px 0px 0px rgba(103,96,86,1);
      box-shadow:         inset 0px 0px 0px 0px rgba(103,96,86,1);
      color: #fff;
    }
    100% {
      -webkit-box-shadow: inset 0px 46px 0px 0px rgba(103,96,86,1);
      -moz-box-shadow:    inset 0px 46px 0px 0px rgba(103,96,86,1);
      box-shadow:         inset 0px 46px 0px 0px rgba(103,96,86,1);
      color: #fff;
    }
}
@keyframes shadowFadeOut {
    0% {
      -webkit-box-shadow: inset 0px 46px 0px 0px rgba(103,96,86,1);
      -moz-box-shadow:    inset 0px 46px 0px 0px rgba(103,96,86,1);
      box-shadow:         inset 0px 46px 0px 0px rgba(103,96,86,1);
      color: #fff;
    }
    100% {
      -webkit-box-shadow: inset 0px 0px 0px 0px rgba(103,96,86,1);
      -moz-box-shadow:    inset 0px 0px 0px 0px rgba(103,96,86,1);
      box-shadow:         inset 0px 0px 0px 0px rgba(103,96,86,1);
      color: #fff;
    }
}
@-webkit-keyframes shadowFade {
    0% {
      -webkit-box-shadow: inset 0px 0px 0px 0px rgba(103,96,86,1);
      -moz-box-shadow:    inset 0px 0px 0px 0px rgba(103,96,86,1);
      box-shadow:         inset 0px 0px 0px 0px rgba(103,96,86,1);
      color: #fff;
    }
    100% {
      -webkit-box-shadow: inset 0px 46px 0px 0px rgba(103,96,86,1);
      -moz-box-shadow:    inset 0px 46px 0px 0px rgba(103,96,86,1);
      box-shadow:         inset 0px 46px 0px 0px rgba(103,96,86,1);
      color: #fff;
    }
}
@-webkit-keyframes shadowFadeOut {
    0% {
      -webkit-box-shadow: inset 0px 46px 0px 0px rgba(103,96,86,1);
      -moz-box-shadow:    inset 0px 46px 0px 0px rgba(103,96,86,1);
      box-shadow:         inset 0px 46px 0px 0px rgba(103,96,86,1);
      color: #fff;
    }
    100% {
      -webkit-box-shadow: inset 0px 0px 0px 0px rgba(103,96,86,1);
      -moz-box-shadow:    inset 0px 0px 0px 0px rgba(103,96,86,1);
      box-shadow:         inset 0px 0px 0px 0px rgba(103,96,86,1);
      color: #fff;
    }
}